.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  padding: 10px;
  background-color: #333;
}

.chat-room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  height: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 20px;
}

.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  padding-right: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 80%;
}

.message-sent {
  align-self: flex-end;
  text-align: right;
}

.message-sent .message-author {
  display: none;
}

.message-received .message-author {
  margin-bottom: 5px;
}

.message-received {
  align-self: flex-start;
  text-align: left;
}

.message-author {
  font-size: 12px;
  font-weight: bold;
}

.user-list {
  flex: 0 0 200px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  padding: 20px;
  overflow-y: auto;
}

.user {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.user-main {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.input-message {
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 10px;
  width: 100%;
  margin-right: 10px;
  color: #333;
}

.send-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}
.message-sent {
  text-align: right;
}

.message-sent .message-author {
  text-align: right;
}

.message-sent div:first-child {
  margin-left: auto;
}

.message-sent div:last-child {
  margin-right: 10px;
}
.message-received {
  text-align: left;
}

.message-received .message-author {
  text-align: left;
}

.message-received div:last-child {
  margin-left: 10px;
}
